/* Dashboard left navbar styles */

.ant-menu > .ant-menu-item.ant-menu-item-selected {
   background-color: rgba(19, 26, 39, 0.2);
   color: #1f8efa;
   mix-blend-mode: normal;
   border-left: none;
   padding-left: 25px;
}

.ant-menu > .ant-menu-item {
   border-left: 7px solid rgba(152, 167, 185, 0.25);
}

.ant-menu-vertical > .ant-menu-item:not(:last-child) {
   margin: 0;
}

.ant-menu-vertical > .ant-menu-item {
   margin: 0;
}

/* Datepicker styles */

.ant-picker-input > input {
   color: #98a7b9;
}

.ant-picker-clear {
   background: none;
}

.ant-picker-suffix {
   background: #2f3b52;
}
